<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <style>
      .container-fluid {
        padding: 0 !important;
      }
      .row {
        margin-left: 15%;
      }
      .form-control {
        width: 300px !important;
      }
      .container-fluid button {
        color: white;
        border-color: white;
      }
      .cach {
        margin-left: 30%;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-sm navbar-light bg-success">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="form-inline ml-auto">
            <div class="md-form my-0">
              <input
                class="form-control"
                type="text"
                placeholder="Search"
                aria-label="Search"
              />
            </div>
            <button
              href="#!"
              class="btn btn-outline-secondary btn-md my-0 ml-sm-2"
              type="submit"
            >
              Search
            </button>
          </form>
        </div>
      </nav>
    </div>
    <div class="container-fluid bg-light">
      <div class="container">
        <h2 class="text-center pt-5 mb-5">CREATE QUESTION</h2>
        <form
          th:action="@{/addquestion}"
          th:object="${questionForm}"
          method="POST"
        >
          <div class="form-group row">
            <input type="hidden" th:field="*{questionId}" />
            <label class="col-md-2" for="content">Question content:</label>
            <textarea
              class="col-md-7"
              cols="60"
              rows="3"
              th:field="*{content}"
            ></textarea>
          </div>
          <div class="form-group row">
            <label class="col-md-2" for="correctAnswer">Answer:</label>
            <input th:field="*{correctAnswer}" class="col-md-7" type="text" />
          </div>
          <div class="form-group row">
            <label class="col-md-2" for="answer1">Answer 1:</label>
            <input th:field="*{answer1}" class="col-md-7" type="text" />
          </div>
          <div class="form-group row">
            <label class="col-md-2" for="answer2">Answer 2:</label>
            <input th:field="*{answer2}" class="col-md-7" type="text" />
          </div>
          <div class="form-group row">
            <label class="col-md-2" for="answer3">Answer 3:</label>
            <input th:field="*{answer3}" class="col-md-7" type="text" />
          </div>
          <p th:if="@{errormessage}" th:text="${errormessage}"></p>
          <div class="cach">
            <input class="btn btn-success" type="submit" value="Save" />
            <!-- <mvc:button class="btn btn-success">Save</mvc:button> -->
            <a href="" class="btn btn-warning">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
