<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <style>
      .pagination {
        margin: 10% !important;
      }
      .pagination li a {
        color: black !important;
      }
      .container-fluid {
        padding: 0 !important;
      }
      .form-control {
        width: 300px !important;
      }
      .container-fluid button {
        color: white;
        border-color: white;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-sm navbar-light bg-success mb-4">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="form-inline ml-auto">
            <div class="md-form my-0">
              <input
                class="form-control"
                type="text"
                placeholder="Search"
                aria-label="Search"
              />
            </div>
            <button
              href="#!"
              class="btn btn-outline-secondary btn-md my-0 ml-sm-2"
              type="submit"
            >
              Search
            </button>
          </form>
        </div>
      </nav>
    </div>
    <div class="container">
      <h2 class="text-center mt-5">QUESTION MANAGEMENT</h2>
      <a th:href="@{/create-question}" class="btn btn-success mb-5"
        >Create question</a
      >
      <table
        class="table table-striped table-inverse table-bordered table-responsive-sm"
      >
        <thead class="thead-inverse bg-green">
          <tr class="table-success">
            <th>Question content</th>
            <th>Correct Answer</th>
            <th>Answer 1</th>
            <th>Answer 2</th>
            <th>Answer 3</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="question : ${questions}">
            <td th:text="${question.content}"></td>
            <td th:text="${question.answer1}"></td>
            <td th:text="${question.answer2}"></td>
            <td th:text="${question.answer3}"></td>
            <td th:text="${question.correctAnswer}"></td>
            <td>
              <a
                th:href="@{/delete-question/{questionId}(questionId=${question.questionId})}"
                onclick="if (!(confirm('Are you sure you want to delete this question?')))return false"
                class="btn btn-danger"
                >Delete</a
              >
              <a
                th:href="@{/update-question/{questionId}(questionId=${question.questionId})}"
                class="btn btn-primary"
                >Edit</a
              >
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <nav aria-label="Page navigation example ">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul> -->

      <nav aria-label="Pagination" th:if="${questions.totalPages gt 0}">
        <ul class="pagination justify-content-center font-weight-bold">
          <li
            class="page-item"
            th:classappend="${questions.number eq 0} ? 'disabled'"
          >
            <a
              class="page-link"
              th:href="@{/question-management?page={id}(id=${questions.number lt 2 ? 1 : questions.number})}"
              aria-label="Previous"
              title="Previous Page"
              data-toggle="tooltip"
            >
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li
            class="page-item"
            th:classappend="${i eq questions.number + 1} ? 'active'"
            th:each="i : ${#numbers.sequence( 1, questions.totalPages, 1)}"
          >
            <a
              class="page-link"
              th:href="@{/question-management?page={id}(id=${i})}"
              th:text="${i}"
              th:title="${'Page '+ i}"
              data-toggle="tooltip"
            ></a>
          </li>
          <li
            class="page-item"
            th:classappend="${questions.number + 1 eq questions.totalPages} ? 'disabled'"
          >
            <a
              class="page-link"
              th:href="@{/question-management?page={id}(id=${questions.number + 2})}"
              aria-label="Next"
              title="Next Page"
              data-toggle="tooltip"
            >
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
